# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/

# Env
.env
.env.local
.env.*.local

# DB
prisma/migrations/dev/

# Testing
playwright-report/
test-results/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
